<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公共安全-太极计算机股份有限公司官方网站</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/common1.css">
    <link rel="stylesheet" href="../../css/zhengfu.css">
    <script src="../../js/jquery-3.1.1.js"></script>
    <script src="../../js/comm.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <div class="header-img">
            <a href="../index.html"><img src="../../images/logo.png" alt=""></a>
        </div>
        <div class="header-nav">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li class="first"><a href="#">解决方案
                    <div class="jjfa">
                        <div class="hangye">
                            <h4>行业应用解决方案</h4>
                            <ul class="list1">
                                <li><a href="zhengfu.html">政府</a></li>
                                <li><a href="dianli.html">电力</a></li>
                                <li><a href="jinrong.html">金融</a></li>
                                <li><a href="zhizao.html">制造</a></li>
                                <li><a href="qita.html">其他</a></li>
                                <li><a href="jiaotong.html">交通</a></li>
                                <li><a href="shihua.html">石化</a></li>
                                <li><a href="meitan.html">煤炭</a></li>
                                <li><a href="anquan.html">公共安全</a></li>
                            </ul>
                        </div>
                        <div class="zhihui">
                            <h3><a href="zhihui.html">智慧城市解决方案</a></h3>

                            <h4>基础设施解决方案</h4>
                            <ul>
                                <li><a href="zhineng.html">智能建筑</a></li>
                                <li><a href="shuju.html">基础中心</a></li>
                            </ul>
                        </div>
                    </div>
                </a></li>
                <li class="second"><a href="#">软件产品
                    <div class="rjcp">
                        <h3><a href="../templates1/hangye.html">行业应用类</a></h3>
                        <h3><a href="../templates1/guanli.html">管理软件类</a></h3>
                        <h3><a href="../templates1/pingtai.html">平台工具类</a></h3>
                        <h3><a href="../templates1/xinxi.html">信息安全类</a></h3>
                        <h3><a href="../templates1/jichu.html">基础设施类</a></h3>
                    </div>
                </a></li>
                <li class="third"><a href="#">专业服务
                    <div class="zyfw">
                        <h3>咨询服务</h3>
                        <h3>信息安全服务</h3>
                        <h3>运营运维服务</h3>
                        <h3>增值服务</h3>
                    </div>
                </a></li>
                <li class="fourth"><a href="#">案例中心
                    <div class="alzx">
                        <h4>按行业</h4>
                        <ul class="list1">
                            <li><a href="#">政府</a></li>
                            <li><a href="#">电力</a></li>
                            <li><a href="#">金融</a></li>
                            <li><a href="#">制造</a></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                        <ul class="list2">
                            <li><a href="#">交通</a></li>
                            <li><a href="#">石化</a></li>
                            <li><a href="#">煤炭</a></li>
                            <li><a href="#">公共安全</a></li>
                        </ul>
                    </div>
                </a></li>
                <li class="fifth"><a href="#">关于太极
                    <div class="gytj">
                        <h3>公司概况</h3>
                        <h3>愿景使命</h3>
                        <h3>公司资质</h3>
                        <h3>公司荣誉</h3>
                        <h3>企业文化</h3>
                        <h3>合作伙伴</h3>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="content-img">
            <img src="../../images/solution_banner_title.png" alt="">
            <div class="bg">
                <div class="img-botton">
                    <a href="javascript:" class="hyyy addhyyy"><span >行业应用解决方案</span></a>
                    <ul class="nav">
                        <li><a href="zhengfu.html"><img src="../../images/solution_icon_menu_gov.png" />政府</a></li>
                        <li class="bg1"><a href="dianli.html"><img src="../../images/solution_icon_menu_elect.png" />电力</a></li>
                        <li><a href="jinrong.html"><img src="../../images/solution_icon_menu_finance.png" />金融</a></li>
                        <li><a href="zhizao.html"><img src="../../images/solution_icon_menu_manu.png" />制造</a></li>
                        <li><a href="jiaotong.html"><img src="../../images/solution_icon_menu_traffic.png" />交通</a></li>
                        <li><a href="shihua.html"><img src="../../images/solution_icon_menu_oil.png" />石化</a></li>
                        <li><a href="meitan.html"><img src="../../images/solution_icon_menu_coal.png" />煤炭</a></li>
                        <li><a href="anquan.html"  class="subcurrent"><img src="../../images/publicsafe_icon_menu_other.png" />公共安全</a></li>
                        <li class="lastline"><a href="qita.html"><img src="../../images/solution_icon_menu_other.png" />其他</a></li>
                    </ul>
                    <a href="zhihui.html"><span class="zhcs">智慧城市解决方案</span></a>
                    <a href="javascript:"><span class="jcss">基础设施解决方案</span></a>
                    <ul class="nav1">
                        <li><a href="zhineng.html"><img src="../../images/solution_icon_menu_dot.png" />智能建筑</a></li>
                        <li><a href="shuju.html"><img src="../../images/solution_icon_menu_dot.png" />数据中心</a></li>
                    </ul>
                </div>
            </div>
            <div class="lxwm"><img src="../../images/solution_pic_contact.png" alt=""></div>
        </div>
        <div class="list">
            <ul>
                <li><a href="../index.html">首页&nbsp;></a></li>
                <li>解决方案&nbsp;></li>
                <li>基础解决方案&nbsp;></li>
                <li><a href="anquan.html">公共安全</a></li>
            </ul>
            <p>公共安全</p>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">电子档案管理系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>电子档案管理系统为企事业单位的档案现代化管理，提供完整的解决方案。档案管理系统既可以自成系统，为用户提供完整的档案管理和网络查询功能，也可以与本单位的OA办公自动化和DPM设计过程管理，或者与MIS信息管理系统相结合，形成更加...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">大厅自助服务系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 自助服务系统是出入境业务的自助终端，主要包括自助申请系统、自助填表系统和自助发证系统。该系统通过与现运行的出入境管理信息系统的无缝连接，实现了软硬件的完美结合，把传统出入境受理过程中发证的工作从民警前台受理变为可以在发证终端上...</p>
                </div>
            </div>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">人像比对系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>根据多年对公安行业人像比对业务需求的深刻理解，结合国际领先的生物特征识别技术，依托网络、数据库、分布式计算等技术，成功实施了多个针对出入境业务的人像比对系统项目，有效的提供了出入境证件签发工作的准确率，降低误报率，得到了用户的...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">出入境电子护照系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>当前证件电子化已成为国际潮流，电子防伪已成为业界标准。随着护照法的全面实施，公安部为不断提高出入境证件的制作水平、防伪性能和证件质量，加快出入境口岸的通关速度，统一研制了电子版护照。为保障出入境电子证件在全国的顺利、按期实施启...</p>
                </div>
            </div>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">案件管理系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>  随着经济的发展和社会的进步，犯罪分子的作案手段和犯罪人群也在不断的发生变化，为了更好的打击和预防犯罪，维护国家和人民的生命财产安全，同时提高公安工作的规范化管理和透明度，快速、及时、准确地为有关决策者提供各种基础信息和分析数据...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">装备管理信息系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 装备管理信息系统将机构、人员、装备、器材、库室场所、资料等装备管理所涉及的诸要素进行有机结合，充分贯彻精确管理的思想，采取横向集成与纵向集成相结合的方法，优化装备管理资源配置，使之成为有效的管理措施和高效的保障功能，最大限度地...</p>
                </div>
            </div>

            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">立体边海防监控管理系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>  该解决方案是一套针对边海防或大范围边界立体化监控系统。通过运用视频、光电、雷达、声波等多种监控手段实现对边界的大范围、多层次立体监控防护，同时还能支持固定和移动等多种载体，并借助GIS系统实现“一张图”..</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">车联网GPS监控系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>  随着经济的发展，我国的机动车保有量在近几年增长非常快，道路交通及其他设施也都有了长足进步。对企事业单位车辆、物流车辆、专用车辆、特种运输车辆、出租车的有效管理显得越来越重要，如何消除安全隐患,更加有效地管理好运输车辆，保证人身...</p>
                </div>
            </div>

            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">涉密资产监控管理系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 基于射频识别技术(RFID)，实现对各类物体、设备、人员在不同状态(移动、静止或恶劣环境)下的自动识别和监管。</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">非接触式小额支付系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>“非接触式小额支付系统”是要将现有的商户零售前端小额支付方式升级为以非接触式IC卡作为储值卡支付手段，并且以计算机系统为信息处理方法的现代化信息管理系统。一方面方便消费者，不用携带现金，刷卡即可消费；另...</p>
                </div>
            </div>
        </div>
        <div>
            <ul></ul>
        </div>
    </div>
    <div id="footer">
        <div class="footer-nav">
            <ul>
                <li>关于太极</li>
                <li><a href="#">公司概况</a></li>
                <li><a href="#">愿景使命</a></li>
                <li><a href="#">公司资质</a></li>
                <li><a href="#">公司荣誉</a></li>
                <li><a href="#">企业文化</a></li>
            </ul>
            <ul>
                <li>业务专题</li>
                <li><a href="#">智慧城市</a></li>
                <li><a href="#">公共安全</a></li>
                <li><a href="#">智能楼宇</a></li>
                <li><a href="#">数据中心</a></li>
                <li><a href="#">信息安全</a></li>
            </ul>
            <ul>
                <li>新闻中心</li>
                <li><a href="#">公司新闻</a></li>
                <li><a href="#">媒体报告</a></li>
            </ul>
            <ul>
                <li>投资者关系</li>
                <li><a href="#">临时公告</a></li>
                <li><a href="#">定期报告</a></li>
            </ul>
            <ul>
                <li>招聘信息</li>
                <li><a href="#">校园招聘</a></li>
                <li><a href="#">社会招聘</a></li>
            </ul>
            <div>
                <div class="yqlj">友情链接</div>
                <div class="china">
                    <ul class="china-list">
                        <li><a href="#">中国电子科技集团公司</a></li>
                        <li><a href="#">华北计算技术研究所</a></li>
                        <li><a href="#">慧点科技股份有限公司</a></li>
                        <li><a href="#">人大金仓股份有限公司</a></li>
                        <li><a href="#">中国电子科技集团公司</a></li>
                    </ul>
                    <a href="javascript:" class ="up"></a>
                    <a href="javascript:" class ="down"></a>
                </div>
            </div>
        </div>
        <div class="footer-botton">
            <div class="botton-left">
                <p>
                    <span>北京市海淀区北四环中路211号</span>
                    <span>TEL 010-89056888</span>
                    <span>FAX 010-89056889</span>
                    <span>E-Mail taiji@mail.taiji.com.cn</span>
                </p>
                <p> &copy;2013 太极计算机股份有限公司版权所有 京ICP备14026821号-1 京公网安备11010802015957</p>
            </div>
            <div class="botton-right"><a href="#"><img src="../../images/logo_footer.png" alt=""></a></div>
        </div>
    </div>
</div>
</body>
</html>
