<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电力-太极计算机股份有限公司官方网站</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/common1.css">
    <link rel="stylesheet" href="../../css/zhengfu.css">
    <script src="../../js/jquery-3.1.1.js"></script>
    <script src="../../js/comm.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <div class="header-img">
            <a href="index.html"><img src="../../images/logo.png" alt=""></a>
        </div>
        <div class="header-nav">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li class="first"><a href="#">解决方案
                    <div class="jjfa">
                        <div class="hangye">
                            <h4>行业应用解决方案</h4>
                            <ul class="list1">
                                <li><a href="zhengfu.html">政府</a></li>
                                <li><a href="dianli.html">电力</a></li>
                                <li><a href="jinrong.html">金融</a></li>
                                <li><a href="zhizao.html">制造</a></li>
                                <li><a href="qita.html">其他</a></li>
                                <li><a href="jiaotong.html">交通</a></li>
                                <li><a href="shihua.html">石化</a></li>
                                <li><a href="meitan.html">煤炭</a></li>
                                <li><a href="anquan.html">公共安全</a></li>
                            </ul>
                        </div>
                        <div class="zhihui">
                            <h3><a href="zhihui.html">智慧城市解决方案</a></h3>

                            <h4>基础设施解决方案</h4>
                            <ul>
                                <li><a href="zhineng.html">智能建筑</a></li>
                                <li><a href="shuju.html">基础中心</a></li>
                            </ul>
                        </div>
                    </div>
                </a></li>
                <li class="second"><a href="javascript:">软件产品
                    <div class="rjcp">
                        <h3><a href="../templates1/hangye.html">行业应用类</a></h3>
                        <h3><a href="../templates1/guanli.html">管理软件类</a></h3>
                        <h3><a href="../templates1/pingtai.html">平台工具类</a></h3>
                        <h3><a href="../templates1/xinxi.html">信息安全类</a></h3>
                        <h3><a href="../templates1/jichu.html">基础设施类</a></h3>
                    </div>
                </a></li>
                <li class="third"><a href="#">专业服务
                    <div class="zyfw">
                        <h3>咨询服务</h3>
                        <h3>信息安全服务</h3>
                        <h3>运营运维服务</h3>
                        <h3>增值服务</h3>
                    </div>
                </a></li>
                <li class="fourth"><a href="#">案例中心
                    <div class="alzx">
                        <h4>按行业</h4>
                        <ul class="list1">
                            <li><a href="#">政府</a></li>
                            <li><a href="#">电力</a></li>
                            <li><a href="#">金融</a></li>
                            <li><a href="#">制造</a></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                        <ul class="list2">
                            <li><a href="#">交通</a></li>
                            <li><a href="#">石化</a></li>
                            <li><a href="#">煤炭</a></li>
                            <li><a href="#">公共安全</a></li>
                        </ul>
                    </div>
                </a></li>
                <li class="fifth"><a href="#">关于太极
                    <div class="gytj">
                        <h3>公司概况</h3>
                        <h3>愿景使命</h3>
                        <h3>公司资质</h3>
                        <h3>公司荣誉</h3>
                        <h3>企业文化</h3>
                        <h3>合作伙伴</h3>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="content-img">
            <img src="../../images/solution_banner_title.png" alt="">
            <div class="bg">
                <div class="img-botton">
                    <a href="javascript:" class="hyyy addhyyy"><span >行业应用解决方案</span></a>
                    <ul class="nav">
                        <li><a href="zhengfu.html"><img src="../../images/solution_icon_menu_gov.png" />政府</a></li>
                        <li class="bg1"><a href="dianli.html"  class="subcurrent"><img src="../../images/solution_icon_menu_elect.png" />电力</a></li>
                        <li><a href="jinrong.html"><img src="../../images/solution_icon_menu_finance.png" />金融</a></li>
                        <li><a href="zhizao.html"><img src="../../images/solution_icon_menu_manu.png" />制造</a></li>
                        <li><a href="jiaotong.html"><img src="../../images/solution_icon_menu_traffic.png" />交通</a></li>
                        <li><a href="shihua.html"><img src="../../images/solution_icon_menu_oil.png" />石化</a></li>
                        <li><a href="meitan.html"><img src="../../images/solution_icon_menu_coal.png" />煤炭</a></li>
                        <li><a href="anquan.html"><img src="../../images/publicsafe_icon_menu_other.png" />公共安全</a></li>
                        <li class="lastline"><a href="qita.html"><img src="../../images/solution_icon_menu_other.png" />其他</a></li>
                    </ul>
                    <a href="zhihui.html"><span class="zhcs">智慧城市解决方案</span></a>
                    <a href="javascript:"><span class="jcss">基础设施解决方案</span></a>
                    <ul class="nav1">
                        <li><a href="zhineng.html"><img src="../../images/solution_icon_menu_dot.png" />智能建筑</a></li>
                        <li><a href="shuju.html"><img src="../../images/solution_icon_menu_dot.png" />数据中心</a></li>
                    </ul>
                </div>
            </div>
            <div class="lxwm"><img src="../../images/solution_pic_contact.png" alt=""></div>
        </div>
        <div class="list">
            <ul>
                <li><a href="../index.html">首页&nbsp;></a></li>
                <li>解决方案&nbsp;></li>
                <li>基础解决方案&nbsp;></li>
                <li><a href="dianli.html">电力</a></li>
            </ul>
            <p>电力</p>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">电力生产信息系统数据通讯平台</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 太极生产信息系统数据通讯平台可以通过各种通讯方式同企业的控制设备通讯，读取设备的实时数据，然后发送到实时数据库或关系数据库中(如PI、Wonderware INSQL、Oracle、Sql Server等)。控制系统一般提供网...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">电力生产实时信息系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>  太极生产实时信息系统是建立一套独立于原有管理信息网络的生产专用网络，通过接口软件采集机组、辅机、关口电量等系统的实时数据，对各生成流程进行统一的监视和查询。对生成数据进行综合处理以形成全厂生产报表，建立全厂的实时和历史数据库，....</p>
                </div>
            </div>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">风电生产运营监控系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>风电生产运营监控中心将使风电生产管理技术和现代化的软件技术更一步紧密结合起来，从而实现风电场安全生产运行数字化，生产数据集中化，进一步提高风电集团安全生产工作的整体管理水平，并且通过生产运营监控中心逐渐向无人值守化风场管理过渡...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">电力基建项目管理系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 电力企业工程建设的复杂性和特殊性，决定了项目管理与控制是一项复杂、繁琐、强度大的系统工程，并且贯穿工程建设的全过程。应用计算机辅助项目管理的模式，对建设中产生的大量工程数据进行处理、统计、分析和评价，以便了解工程情况、掌握工程...</p>
                </div>
            </div>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">电力资产管理系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 电力资产管理以设备运行历史及台帐为基础，以工作单的提交、审批、执行为主线，按照缺陷管理、计划检修、预防维修、预测维修、可靠维修、定期试验、项目检修管理等模式，以提高维修效率、规范维修流程、最大化资产使用率、最小化总体运营成本为...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">企业运营管理信息系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>   太极企业运营管理信息系统全面支持J2EE、XML等标准，跨操作系统、中间件、数据库。
                        该平台可以将分散的信息资源主动、有序地展现在领导桌面...</p>
                </div>
            </div>

            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">企业全面业绩考核解决方案</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>“全面业绩考核管理平台”是一套专业为企业量身定做的面向企业及全体员工的业绩考核专用平台，它充分利用数据中心丰富的数据资源、强大的计算分析功能和直观丰富的展现形式，建立了一套适应KPI、360度、综合测评...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">电力集团容灾解决系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>   太极公司的连续数据保护容灾方案，是针对电力集团应用系统特点，应用环境异构，应用主机异构，数据库众多，备份与容灾要求并存，而设计的一套行之有效的，集磁盘镜像、数据备份、数据远程容灾于一体的综合容灾解决方案。</p>
                </div>
            </div>

            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">发电生产管理信息系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>  太极发电生产管理系统使企业能够通过一系列策略的实施来优化设备能力，提高生产效率，降低维护成本，提高安全性并更好地遵守法规。EAM市场的分析人士和专家认为，对企业资产进行有效维护，可提高资产利用率（有些可见，有些不可见但可测算）...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">电力信息整合平台</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>太极电力信息整合平台解决方案全面支持J2EE、XML等标准，跨操作系统、中间件、数据库。该平台通过建立电力企业数据指标体系，数据交换体系，将电力企业内部和外部的各类信息资源，通过筛选、整理、转换以后，建立电力企业各类主题数据库...</p>
                </div>
            </div>
        </div>
        <div>
            <ul></ul>
        </div>
    </div>
    <div id="footer">
        <div class="footer-nav">
            <ul>
                <li>关于太极</li>
                <li><a href="#">公司概况</a></li>
                <li><a href="#">愿景使命</a></li>
                <li><a href="#">公司资质</a></li>
                <li><a href="#">公司荣誉</a></li>
                <li><a href="#">企业文化</a></li>
            </ul>
            <ul>
                <li>业务专题</li>
                <li><a href="#">智慧城市</a></li>
                <li><a href="#">公共安全</a></li>
                <li><a href="#">智能楼宇</a></li>
                <li><a href="#">数据中心</a></li>
                <li><a href="#">信息安全</a></li>
            </ul>
            <ul>
                <li>新闻中心</li>
                <li><a href="#">公司新闻</a></li>
                <li><a href="#">媒体报告</a></li>
            </ul>
            <ul>
                <li>投资者关系</li>
                <li><a href="#">临时公告</a></li>
                <li><a href="#">定期报告</a></li>
            </ul>
            <ul>
                <li>招聘信息</li>
                <li><a href="#">校园招聘</a></li>
                <li><a href="#">社会招聘</a></li>
            </ul>
            <div>
                <div class="yqlj">友情链接</div>
                <div class="china">
                    <ul class="china-list">
                        <li><a href="#">中国电子科技集团公司</a></li>
                        <li><a href="#">华北计算技术研究所</a></li>
                        <li><a href="#">慧点科技股份有限公司</a></li>
                        <li><a href="#">人大金仓股份有限公司</a></li>
                        <li><a href="#">中国电子科技集团公司</a></li>
                    </ul>
                    <a href="javascript:" class ="up"></a>
                    <a href="javascript:" class ="down"></a>
                </div>
            </div>
        </div>
        <div class="footer-botton">
            <div class="botton-left">
                <p>
                    <span>北京市海淀区北四环中路211号</span>
                    <span>TEL 010-89056888</span>
                    <span>FAX 010-89056889</span>
                    <span>E-Mail taiji@mail.taiji.com.cn</span>
                </p>
                <p> &copy;2013 太极计算机股份有限公司版权所有 京ICP备14026821号-1 京公网安备11010802015957</p>
            </div>
            <div class="botton-right"><a href="#"><img src="../../images/logo_footer.png" alt=""></a></div>
        </div>
    </div>
</div>
</body>
</html>
