<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交通-太极计算机股份有限公司官方网站</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/common1.css">
    <link rel="stylesheet" href="../../css/zhengfu.css">
    <script src="../../js/jquery-3.1.1.js"></script>
    <script src="../../js/comm.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <div class="header-img">
            <a href="index.html"><img src="../../images/logo.png" alt=""></a>
        </div>
        <div class="header-nav">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li class="first"><a href="#">解决方案
                    <div class="jjfa">
                        <div class="hangye">
                            <h4>行业应用解决方案</h4>
                            <ul class="list1">
                                <li><a href="zhengfu.html">政府</a></li>
                                <li><a href="dianli.html">电力</a></li>
                                <li><a href="jinrong.html">金融</a></li>
                                <li><a href="zhizao.html">制造</a></li>
                                <li><a href="qita.html">其他</a></li>
                                <li><a href="jiaotong.html">交通</a></li>
                                <li><a href="shihua.html">石化</a></li>
                                <li><a href="meitan.html">煤炭</a></li>
                                <li><a href="anquan.html">公共安全</a></li>
                            </ul>
                        </div>
                        <div class="zhihui">
                            <h3><a href="zhihui.html">智慧城市解决方案</a></h3>

                            <h4>基础设施解决方案</h4>
                            <ul>
                                <li><a href="zhineng.html">智能建筑</a></li>
                                <li><a href="shuju.html">基础中心</a></li>
                            </ul>
                        </div>
                    </div>
                </a></li>
                <li class="second"><a href="#">软件产品
                    <div class="rjcp">
                        <h3><a href="../templates1/hangye.html">行业应用类</a></h3>
                        <h3><a href="../templates1/guanli.html">管理软件类</a></h3>
                        <h3><a href="../templates1/pingtai.html">平台工具类</a></h3>
                        <h3><a href="../templates1/xinxi.html">信息安全类</a></h3>
                        <h3><a href="../templates1/jichu.html">基础设施类</a></h3>
                    </div>
                </a></li>
                <li class="third"><a href="#">专业服务
                    <div class="zyfw">
                        <h3>咨询服务</h3>
                        <h3>信息安全服务</h3>
                        <h3>运营运维服务</h3>
                        <h3>增值服务</h3>
                    </div>
                </a></li>
                <li class="fourth"><a href="#">案例中心
                    <div class="alzx">
                        <h4>按行业</h4>
                        <ul class="list1">
                            <li><a href="#">政府</a></li>
                            <li><a href="#">电力</a></li>
                            <li><a href="#">金融</a></li>
                            <li><a href="#">制造</a></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                        <ul class="list2">
                            <li><a href="#">交通</a></li>
                            <li><a href="#">石化</a></li>
                            <li><a href="#">煤炭</a></li>
                            <li><a href="#">公共安全</a></li>
                        </ul>
                    </div>
                </a></li>
                <li class="fifth"><a href="#">关于太极
                    <div class="gytj">
                        <h3>公司概况</h3>
                        <h3>愿景使命</h3>
                        <h3>公司资质</h3>
                        <h3>公司荣誉</h3>
                        <h3>企业文化</h3>
                        <h3>合作伙伴</h3>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="content-img">
            <img src="../../images/solution_banner_title.png" alt="">
            <div class="bg">
                <div class="img-botton">
                    <a href="javascript:" class="hyyy addhyyy"><span >行业应用解决方案</span></a>
                    <ul class="nav">
                        <li><a href="zhengfu.html"><img src="../../images/solution_icon_menu_gov.png" />政府</a></li>
                        <li class="bg1"><a href="dianli.html"><img src="../../images/solution_icon_menu_elect.png" />电力</a></li>
                        <li><a href="jinrong.html" class="subcurrent"><img src="../../images/solution_icon_menu_finance.png" />金融</a></li>
                        <li><a href="zhizao.html"><img src="../../images/solution_icon_menu_manu.png" />制造</a></li>
                        <li><a href="jiaotong.html"><img src="../../images/solution_icon_menu_traffic.png" />交通</a></li>
                        <li><a href="shihua.html"><img src="../../images/solution_icon_menu_oil.png" />石化</a></li>
                        <li><a href="meitan.html"><img src="../../images/solution_icon_menu_coal.png" />煤炭</a></li>
                        <li><a href="anquan.html"><img src="../../images/publicsafe_icon_menu_other.png" />公共安全</a></li>
                        <li class="lastline"><a href="qita.html"><img src="../../images/solution_icon_menu_other.png" />其他</a></li>
                    </ul>
                    <a href="zhihui.html"><span class="zhcs">智慧城市解决方案</span></a>
                    <a href="javascript:"><span class="jcss">基础设施解决方案</span></a>
                    <ul class="nav1">
                        <li><a href="zhineng.html"><img src="../../images/solution_icon_menu_dot.png" />智能建筑</a></li>
                        <li><a href="shuju.html"><img src="../../images/solution_icon_menu_dot.png" />数据中心</a></li>
                    </ul>
                </div>
            </div>
            <div class="lxwm"><img src="../../images/solution_pic_contact.png" alt=""></div>
        </div>
        <div class="list">
            <ul>
                <li><a href="../index.html">首页&nbsp;></a></li>
                <li>解决方案&nbsp;></li>
                <li>基础解决方案&nbsp;></li>
                <li><a href="jinrong.html">金融</a></li>
            </ul>
            <p>金融</p>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">金融行业资金清算和信息交换系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>   太极金融资金清算和信息交换系统（Bankware BCSS，Bank Card Switch System）是由太极自主研发的信息交换和清算应用软件系统，参数化程度高、易于客户化，基于开放操作系统平台，支持多种数据库管理系统和....</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">银行核心业务信息系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 太极航空公司气象信息服务系统解决方案整体由通讯链路系统、硬件基础平台、及业务软件三部分组成。通讯链路系统包括整个系统的数据来源及网络建设、硬件基础平台包括主机系统平台建设、存储平台建设、数据库和中间件软件系统，应用软件平台包括...</p>
                </div>
            </div>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">村镇银行核心系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 资料收集与接收系统软件主要实现进行各种气象资料及产品的收集、整理，信息的综合分析、评判、制作预报结论演示产品。天气资料收集与处理软件将依托已有的航空气象数据库及航空气象预报与服务工作平台，从中提取气象资料制作预报产品，并兼顾到...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">银行综合前置系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>   太极民航空管气象业务运行集中监控系统是为了满足米民航空管局业务监控管理和信息上报发布的需要，在地区中心和所辖空管分局之间形成气象业务信息实时监控，设备状态信息实时传递，信息实时发布的和设备运行维护的业务管理系统。</p>
                </div>
            </div>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">现金管理系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>民航甚高频地空数据链网络系统，通过建设的各个远端地面站与航空器保持数据链通信，并且将各个地面站的通信内容汇总到数据链网控中心进行处理、路由、分发、归档保存。</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">商业银行综合统计分析系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>  太极民航空管资料管理系统通过计算机网络，对民航的各种资料进行自动收集，把收集到的数据以文件的方式进行备份，并进行资料预处理，按着一定的规范进行数据库存储管理。系统通过权限的分配与控制，让不同的用户进行检索与管理，实现资料检索和...</p>
                </div>
            </div>

            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">民航中尺度气象数值预报系统（航站级）</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>民航中尺度气象数值预报系统项目是为民航气象部门和其他相关部门设计，为用户提供高分辨率数值天气预报产品，具备区域、单站和航线预报产品诊断功能，并实现预报和诊断产品的可视化。该系统将会显著的提升民航各空管分局气象服务水平。</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">航空气象精细化客观预报系统（中心级）</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>太极航空气象精细化客观预报系统建成一个功能完善的、具有可扩展的航空数值预报系统，全面完善航空气象业务运行能力，提高航空气象服务质量，满足航空气象用户的需求，增强航空气象服务的竞争能力。</p>
                </div>
            </div>

            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">民航航站621气象数据库系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>太极民航航站621系统主要由三部分组成：即通信传输部分、数据库部分、气象信息综合服务部分。该系统能满足实际业务运行的需要，并考虑到气象业务不断的增长，数据库的设计有良好的可扩展性。针对气象数据实时性强、数据量大的特点，具有连续...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">民航航空气象情报处理系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>太极民航气象业务服务系统解决方案整体由硬件基础平台和应用软件平台两部分组成。硬件基础平台包括网络系统建设、主机系统平台建设、链路建设、数据库和中间件软件系统，应用软件平台包括业务通信系统、数据库系统、气象预报系统和气象服务系统...</p>
                </div>
            </div>
        </div>
        <div>
            <ul></ul>
        </div>
    </div>
    <div id="footer">
        <div class="footer-nav">
            <ul>
                <li>关于太极</li>
                <li><a href="#">公司概况</a></li>
                <li><a href="#">愿景使命</a></li>
                <li><a href="#">公司资质</a></li>
                <li><a href="#">公司荣誉</a></li>
                <li><a href="#">企业文化</a></li>
            </ul>
            <ul>
                <li>业务专题</li>
                <li><a href="#">智慧城市</a></li>
                <li><a href="#">公共安全</a></li>
                <li><a href="#">智能楼宇</a></li>
                <li><a href="#">数据中心</a></li>
                <li><a href="#">信息安全</a></li>
            </ul>
            <ul>
                <li>新闻中心</li>
                <li><a href="#">公司新闻</a></li>
                <li><a href="#">媒体报告</a></li>
            </ul>
            <ul>
                <li>投资者关系</li>
                <li><a href="#">临时公告</a></li>
                <li><a href="#">定期报告</a></li>
            </ul>
            <ul>
                <li>招聘信息</li>
                <li><a href="#">校园招聘</a></li>
                <li><a href="#">社会招聘</a></li>
            </ul>
            <div>
                <div class="yqlj">友情链接</div>
                <div class="china">
                    <ul class="china-list">
                        <li><a href="#">中国电子科技集团公司</a></li>
                        <li><a href="#">华北计算技术研究所</a></li>
                        <li><a href="#">慧点科技股份有限公司</a></li>
                        <li><a href="#">人大金仓股份有限公司</a></li>
                        <li><a href="#">中国电子科技集团公司</a></li>
                    </ul>
                    <a href="javascript:" class ="up"></a>
                    <a href="javascript:" class ="down"></a>
                </div>
            </div>
        </div>
        <div class="footer-botton">
            <div class="botton-left">
                <p>
                    <span>北京市海淀区北四环中路211号</span>
                    <span>TEL 010-89056888</span>
                    <span>FAX 010-89056889</span>
                    <span>E-Mail taiji@mail.taiji.com.cn</span>
                </p>
                <p> &copy;2013 太极计算机股份有限公司版权所有 京ICP备14026821号-1 京公网安备11010802015957</p>
            </div>
            <div class="botton-right"><a href="#"><img src="../../images/logo_footer.png" alt=""></a></div>
        </div>
    </div>
</div>
</body>
</html>
