<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据-太极计算机股份有限公司官方网站</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/common1.css">
    <link rel="stylesheet" href="../../css/zhengfu.css">
    <script src="../../js/jquery-3.1.1.js"></script>
    <script src="../../js/comm.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <div class="header-img">
            <a href="index.html"><img src="../images/logo.png" alt=""></a>
        </div>
        <div class="header-nav">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li class="first"><a href="#">解决方案
                    <div class="jjfa">
                        <div class="hangye">
                            <h4>行业应用解决方案</h4>
                            <ul class="list1">
                                <li><a href="zhengfu.html">政府</a></li>
                                <li><a href="dianli.html">电力</a></li>
                                <li><a href="jinrong.html">金融</a></li>
                                <li><a href="zhizao.html">制造</a></li>
                                <li><a href="qita.html">其他</a></li>
                            </ul>
                            <ul class="list2">
                                <li><a href="jiaotong.html">交通</a></li>
                                <li><a href="shihua.html">石化</a></li>
                                <li><a href="meitan.html">煤炭</a></li>
                                <li><a href="anquan.html">公共安全</a></li>
                            </ul>
                        </div>
                        <div class="zhihui">
                            <h3><a href="zhihui.html">智慧城市解决方案</a></h3>

                            <h4>基础设施解决方案</h4>
                            <ul>
                                <li><a href="zhineng.html">智能建筑</a></li>
                                <li><a href="shuju.html">基础中心</a></li>
                            </ul>
                        </div>
                    </div>
                </a></li>
                <li class="second"><a href="#">软件产品
                    <div class="rjcp">
                        <h3><a href="../templates1/hangye.html">行业应用类</a></h3>
                        <h3><a href="../templates1/guanli.html">管理软件类</a></h3>
                        <h3><a href="../templates1/pingtai.html">平台工具类</a></h3>
                        <h3><a href="../templates1/xinxi.html">信息安全类</a></h3>
                        <h3><a href="../templates1/jichu.html">基础设施类</a></h3>
                    </div>
                </a></li>
                <li class="third"><a href="#">专业服务
                    <div class="zyfw">
                        <h3>咨询服务</h3>
                        <h3>信息安全服务</h3>
                        <h3>运营运维服务</h3>
                        <h3>增值服务</h3>
                    </div>
                </a></li>
                <li class="fourth"><a href="#">案例中心
                    <div class="alzx">
                        <h4>按行业</h4>
                        <ul class="list1">
                            <li><a href="#">政府</a></li>
                            <li><a href="#">电力</a></li>
                            <li><a href="#">金融</a></li>
                            <li><a href="#">制造</a></li>
                            <li><a href="#">其他</a></li>
                            <li><a href="#">交通</a></li>
                            <li><a href="#">石化</a></li>
                            <li><a href="#">煤炭</a></li>
                            <li><a href="#">公共安全</a></li>
                        </ul>
                    </div>
                </a></li>
                <li class="fifth"><a href="#">关于太极
                    <div class="gytj">
                        <h3>公司概况</h3>
                        <h3>愿景使命</h3>
                        <h3>公司资质</h3>
                        <h3>公司荣誉</h3>
                        <h3>企业文化</h3>
                        <h3>合作伙伴</h3>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="content-img">
            <img src="../../images/solution_banner_title.png" alt="">
            <div class="bg">
                <div class="img-botton">
                    <a href="zhengfu.html" class="hyyy addhyyy"><span >行业应用解决方案</span></a>
                    <ul class="nav">
                        <li><a href="zhengfu.html"><img src="../../images/solution_icon_menu_gov.png" />政府</a></li>
                        <li class="bg1"><a href="dianli.html"><img src="../../images/solution_icon_menu_elect.png" />电力</a></li>
                        <li><a href="jinrong.html"><img src="../../images/solution_icon_menu_finance.png" />金融</a></li>
                        <li><a href="zhizao.html"><img src="../../images/solution_icon_menu_manu.png" />制造</a></li>
                        <li><a href="jiaotong.html"><img src="../../images/solution_icon_menu_traffic.png" />交通</a></li>
                        <li><a href="shihua.html"><img src="../../images/solution_icon_menu_oil.png" />石化</a></li>
                        <li><a href="meitan.html"><img src="../../images/solution_icon_menu_coal.png" />煤炭</a></li>
                        <li><a href="anquan.html"><img src="../../images/publicsafe_icon_menu_other.png" />公共安全</a></li>
                        <li class="lastline"><a href="qita.html"><img src="../../images/solution_icon_menu_other.png" />其他</a></li>
                    </ul>
                    <a href="zhihui.html"><span class="zhcs">智慧城市解决方案</span></a>
                    <a href="zhengfu.html"><span class="jcss">基础设施解决方案</span></a>
                    <ul class="nav1">
                        <li><a href="zhineng.html"><img src="../../images/solution_icon_menu_dot.png" />智能建筑</a></li>
                        <li><a href="shuju.html"><img src="../../images/solution_icon_menu_dot.png" />数据中心</a></li>
                    </ul>
                </div>
            </div>
            <div class="lxwm"><img src="../../images/solution_pic_contact.png" alt=""></div>
        </div>
        <div class="list">
            <ul>
                <li><a href="../index.html">首页&nbsp;></a></li>
                <li>解决方案&nbsp;></li>
                <li>基础解决方案&nbsp;></li>
                <li><a href="zhihui.html">数据</a></li>
            </ul>
            <p>数据</p>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">平安城市集成方案</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 目前国内制造企业在控制产品质量措施上，还是采用过去的以质量检验为手段，靠人工经验分析来保证产品质量，一旦出现质量异议，缺乏有效的过程溯源数据，很难定位问题出在哪个过程中，是什么原因导致的。
                        ...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">城市公共安全移动信息平台</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>  MES系统接收ERP下发或系统本身创建的订单，进行质量设计，编制调整计划并组织生产实施，主要解决物料计算、计划排序、生产调度、物料跟踪、质量跟踪、质量判定、动态优化、实绩收集等问题。
                        ...</p>
                </div>
            </div>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">物联网应用支撑平台</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>  太极设备管理信息系统采用TIB工作流平台集成工具开发，整个系统采用B/S或C/S的方式，系统可以采用客户端统一部署应用平台，以业务解释的方式运行；也可以采用B/S的方式运行。TIB系统平台提供多种建模工具，实现系统的快速建模，...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">门户云服务平台</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>   太极民航空管气象业务运行集中监控系统是为了满足米民航空管局业务监控管理和信息上报发布的需要，在地区中心和所辖空管分局之间形成气象业务信息实时监控，设备状态信息实时传递，信息实时发布的和设备运行维护的业务管理系统。</p>
                </div>
            </div>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">安全智能数据采集网关</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 太极安全智能数据采集网关采用高性能的嵌入式计算平台，拥有高性能的实时数据库系统，通讯采集规约库和转发规约库。可以实现采集多个不同子系统的数据，进行数据集中汇总、分类和预处理，并对多个上级调度等平台系统进行数据转发。可作为分布式...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">烧结配料优化控制系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>针对目前钢铁企业铁前配料存在的问题，系统从如下三方面来实现配料优化:
                        (1)建立从各种铁矿石到中和矿的预测模型，从中和矿、返矿、熔剂、燃料和水等到混合矿的预测摸型，烧结块成分预测模型，以及从烧结块、球团矿、块矿...</p>
                </div>
            </div>

            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">企业能源管控系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 太极能源管控系统(Energy Management System， EMS) 是集能源过程监控、能源调度、能源管理为一体的能源管控一体化计算机系统。TJ-EMS确保能源调度的科学性、及时性和合理性，从而提高能源利用水平，实现...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">生产运行指挥调度系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>   太极生产运行指挥调度系统采用.net和visual c++开发，采用面向对象的组件化方式构建，整个系统采用B/S和C/S相结合的方式，即前端数据采集采用C/S结构，后台和信息展示采用.net开发，属于B/S结构，系统全面支持s...</p>
                </div>
            </div>

            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">实时生产运行监控系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 实时生产运行监视系统通过建立独立的生产专用网络，利用接口软件采集所有生产装置DCS控制系统以及PLC控制系统的实时数据，对各生产流程进行统一的监视和查询，实现实时生产调度，同时为企业三级应用系统提供数据支撑。</p>
                </div>
            </div>
        </div>
        <div>
            <ul></ul>
        </div>
    </div>
    <div id="footer">
        <div class="footer-nav">
            <ul>
                <li>关于太极</li>
                <li><a href="#">公司概况</a></li>
                <li><a href="#">愿景使命</a></li>
                <li><a href="#">公司资质</a></li>
                <li><a href="#">公司荣誉</a></li>
                <li><a href="#">企业文化</a></li>
            </ul>
            <ul>
                <li>业务专题</li>
                <li><a href="#">智慧城市</a></li>
                <li><a href="#">公共安全</a></li>
                <li><a href="#">智能楼宇</a></li>
                <li><a href="#">数据中心</a></li>
                <li><a href="#">信息安全</a></li>
            </ul>
            <ul>
                <li>新闻中心</li>
                <li><a href="#">公司新闻</a></li>
                <li><a href="#">媒体报告</a></li>
            </ul>
            <ul>
                <li>投资者关系</li>
                <li><a href="#">临时公告</a></li>
                <li><a href="#">定期报告</a></li>
            </ul>
            <ul>
                <li>招聘信息</li>
                <li><a href="#">校园招聘</a></li>
                <li><a href="#">社会招聘</a></li>
            </ul>
            <div>
                <div class="yqlj">友情链接</div>
                <div class="china">
                    <ul class="china-list">
                        <li><a href="#">中国电子科技集团公司</a></li>
                        <li><a href="#">华北计算技术研究所</a></li>
                        <li><a href="#">慧点科技股份有限公司</a></li>
                        <li><a href="#">人大金仓股份有限公司</a></li>
                        <li><a href="#">中国电子科技集团公司</a></li>
                    </ul>
                    <a href="javascript:" class ="up"></a>
                    <a href="javascript:" class ="down"></a>
                </div>
            </div>
        </div>
        <div class="footer-botton">
            <div class="botton-left">
                <p>
                    <span>北京市海淀区北四环中路211号</span>
                    <span>TEL 010-89056888</span>
                    <span>FAX 010-89056889</span>
                    <span>E-Mail taiji@mail.taiji.com.cn</span>
                </p>
                <p> &copy;2013 太极计算机股份有限公司版权所有 京ICP备14026821号-1 京公网安备11010802015957</p>
            </div>
            <div class="botton-right"><a href="#"><img src="../../images/logo_footer.png" alt=""></a></div>
        </div>
    </div>
</div>
</body>
</html>
