<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <script src="../../js/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/xiangqing.css">
</head>
<body>
    <div id ="wrap">
        <div id="header">
            <div class="header-img">
                <a href="index.html"><img src="../../images/logo.png" alt=""></a>
            </div>
            <div class="header-nav">
               <ul>
                  <li><a href="../index.html">首页</a></li>
                  <li class="first"><a href="#">解决方案
                      <div class="jjfa">
                          <div class="hangye">
                              <h4>行业应用解决方案</h4>
                              <ul class="list1">
                                  <li><a href="zhengfu.html">政府</a></li>
                                  <li><a href="dianli.html">电力</a></li>
                                  <li><a href="jinrong.html">金融</a></li>
                                  <li><a href="zhizao.html">制造</a></li>
                                  <li><a href="qita.html">其他</a></li>
                                  <li><a href="jiaotong.html">交通</a></li>
                                  <li><a href="shihua.html">石化</a></li>
                                  <li><a href="meitan.html">煤炭</a></li>
                                  <li><a href="anquan.html">公共安全</a></li>
                              </ul>
                          </div>
                          <div class="zhihui">
                              <h3><a href="zhihui.html">智慧城市解决方案</a></h3>

                              <h4>基础设施解决方案</h4>
                              <ul>
                                  <li><a href="zhineng.html">智能建筑</a></li>
                                  <li><a href="shuju.html">基础中心</a></li>
                              </ul>
                          </div>
                      </div>
                  </a></li>
                  <li class="second"><a href="#">软件产品
                        <div class="rjcp">
                            <h3><a href="../templates1/hangye.html">行业应用类</a></h3>
                            <h3><a href="../templates1/guanli.html">管理软件类</a></h3>
                            <h3><a href="../templates1/pingtai.html">平台工具类</a></h3>
                            <h3><a href="../templates1/xinxi.html">信息安全类</a></h3>
                            <h3><a href="../templates1/jichu.html">基础设施类</a></h3>
                        </div>
                  </a></li>
                  <li class="third"><a href="#">专业服务
                      <div class="zyfw">
                          <h3>咨询服务</h3>
                          <h3>信息安全服务</h3>
                          <h3>运营运维服务</h3>
                          <h3>增值服务</h3>
                      </div>
                  </a></li>
                   <li class="fourth"><a href="#">案例中心
                       <div class="alzx">
                           <h4>按行业</h4>
                           <ul class="list1">
                               <li><a href="#">政府</a></li>
                               <li><a href="#">电力</a></li>
                               <li><a href="#">金融</a></li>
                               <li><a href="#">制造</a></li>
                               <li><a href="#">其他</a></li>
                           </ul>
                           <ul class="list2">
                               <li><a href="#">交通</a></li>
                               <li><a href="#">石化</a></li>
                               <li><a href="#">煤炭</a></li>
                               <li><a href="#">公共安全</a></li>
                           </ul>
                       </div>
                   </a></li>
                   <li class="fifth"><a href="#">关于太极
                       <div class="gytj">
                           <h3>公司概况</h3>
                           <h3>愿景使命</h3>
                           <h3>公司资质</h3>
                           <h3>公司荣誉</h3>
                           <h3>企业文化</h3>
                           <h3>合作伙伴</h3>
                       </div>
                   </a></li>
               </ul>
            </div>
        </div>
        <div id="content">
            <img src="../../images/content3j_banner.png" alt="">
            <div class="list">
                <ul>
                    <li><a href="../index.html">首页&nbsp;></a></li>
                    <li>解决方案&nbsp;></li>
                    <li>基础解决方案&nbsp;></li>
                    <li><a href="zhihui.html">智能建筑</a></li>
                </ul>
            </div>
            <div class="text-content">
                <h2>小客车指标调控管理系统</h2>
                <p class="nrjj">内容简介</p>
                <p> 太极小客车指标调控管理系统旨在减少大城市机动车增长带来的能源消耗和环境污染，改善控制环境质量，缓解市区交通拥堵。</p>
                <p>  该系统能够满足市民和企业网上能查询申请流程，相关政策法规；能提交申报资料，并能得到及时回复；
                    能及时的查询自己的申报资料的审批进展状态；能进行打印合格的申报表单；能对审核不通过的申请进行复核申请；
                    能查询摇号结果。对于管理机构，该系统能够满足能方便地管理和发布新的政策法规信息；可以接受实时到达的申请表单；
                    可以预先设定规则，防止无效申请表单；能对表单数据进行管理；能将数据通过数据共享交换平台提交到其他相关业务单位；
                    能通过数据共享交换平台获取相关业务单位审核过的数据包；查询统计的需求，如查询某一个申请的内容，
                    某段时间某一类申请的统计情况；能通过摇号系统获取中签数据，并进行网上发布。</p>
                <p class="nrjj">典型案例</p>
                <p>北京市小客车指标调控管理信息系统项目</p>
            </div>
        </div>
        <div id="footer">
            <div class="footer-nav">
              <ul>
                  <li>关于太极</li>
                  <li><a href="#">公司概况</a></li>
                  <li><a href="#">愿景使命</a></li>
                  <li><a href="#">公司资质</a></li>
                  <li><a href="#">公司荣誉</a></li>
                  <li><a href="#">企业文化</a></li>
              </ul>
                <ul>
                    <li>业务专题</li>
                    <li><a href="#">智慧城市</a></li>
                    <li><a href="#">公共安全</a></li>
                    <li><a href="#">智能楼宇</a></li>
                    <li><a href="#">数据中心</a></li>
                    <li><a href="#">信息安全</a></li>
                </ul>
                <ul>
                    <li>新闻中心</li>
                    <li><a href="#">公司新闻</a></li>
                    <li><a href="#">媒体报告</a></li>
                </ul>
                <ul>
                    <li>投资者关系</li>
                    <li><a href="#">临时公告</a></li>
                    <li><a href="#">定期报告</a></li>
                </ul>
                <ul>
                    <li>招聘信息</li>
                    <li><a href="#">校园招聘</a></li>
                    <li><a href="#">社会招聘</a></li>
                </ul>
                <div>
                    <div class="yqlj">友情链接</div>
                    <div class="china">
                        <ul class="china-list">
                            <li><a href="#">中国电子科技集团公司</a></li>
                            <li><a href="#">华北计算技术研究所</a></li>
                            <li><a href="#">慧点科技股份有限公司</a></li>
                            <li><a href="#">人大金仓股份有限公司</a></li>
                            <li><a href="#">中国电子科技集团公司</a></li>
                        </ul>
                        <a href="javascript:" class ="up"></a>
                        <a href="javascript:" class ="down"></a>
                    </div>
                </div>
            </div>
            <div class="footer-botton">
                <div class="botton-left">
                    <p>
                        <span>北京市海淀区北四环中路211号</span>
                        <span>TEL 010-89056888</span>
                        <span>FAX 010-89056889</span>
                        <span>E-Mail taiji@mail.taiji.com.cn</span>
                    </p>
                    <p> &copy;2013 太极计算机股份有限公司版权所有 京ICP备14026821号-1 京公网安备11010802015957</p>
                </div>
                <div class="botton-right"><a href="#"><img src="../../images/logo_footer.png" alt=""></a></div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
//        footer友情链接的上下点击
        var num = 0;
            $("#footer .footer-nav .china .up").click(function () {
                if (num < 3) {
                    num++
                    $(".footer-nav .china .china-list").animate({"margin-top": num * -22},200)
                } else {
                    num = 0;
                    $(".footer-nav .china .china-list").animate({"margin-top": 4 * -22},200, function () {
                        $(".footer-nav .china .china-list").css("margin-top", 0);
                    })
                }
            })
        $("#footer .footer-nav .china .down").click(function () {

            if (num > 0) {
                num--
                $(".footer-nav .china .china-list").animate({"margin-top": num * -22},200)
            }else {
                num = 3;
                $(".footer-nav .china .china-list").animate({"margin-top":3*-22},200);
            }
        })
        //first
        $("#header>.header-nav>ul .first").on({
            mouseenter:function(){
                $(".jjfa").show(200)
            },
            mouseleave:function () {
                $(".jjfa").hide(600)
            }
        })
        //second
        $("#header>.header-nav>ul .second").on({
            mouseenter:function(){
                $(".rjcp").show(200)
            },
            mouseleave:function () {
                $(".rjcp").hide(600)
            }
        })
        //third
        $("#header>.header-nav>ul .third").on({
            mouseenter:function(){
                $(".zyfw").show(200)
            },
            mouseleave:function () {
                $(".zyfw").hide(600)
            }
        })
        //fourth
        $("#header>.header-nav>ul .fourth").on({
            mouseenter:function(){
                $(".alzx").show(200)
            },
            mouseleave:function () {
                $(".alzx").hide(600)
            }
        })
        //third
        $("#header>.header-nav>ul .fifth").on({
            mouseenter:function(){
                $(".gytj").show(200)
            },
            mouseleave:function () {
                $(".gytj").hide(600)
            }
        })
    });
</script>
