<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>政府-太极计算机股份有限公司官方网站</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/common1.css">
    <link rel="stylesheet" href="../../css/zhengfu.css">
    <script src="../../js/jquery-3.1.1.js"></script>
    <script src="../../js/comm.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <div class="header-img">
            <a href="index.html"><img src="../../images/logo.png" alt=""></a>
        </div>
        <div class="header-nav">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li class="first"><a href="#">解决方案
                    <div class="jjfa">
                        <div class="hangye">
                            <h4>行业应用解决方案</h4>
                            <ul class="list1">
                                <li><a href="zhengfu.html">政府</a></li>
                                <li><a href="dianli.html">电力</a></li>
                                <li><a href="jinrong.html">金融</a></li>
                                <li><a href="zhizao.html">制造</a></li>
                                <li><a href="qita.html">其他</a></li>
                                <li><a href="jiaotong.html">交通</a></li>
                                <li><a href="shihua.html">石化</a></li>
                                <li><a href="meitan.html">煤炭</a></li>
                                <li><a href="anquan.html">公共安全</a></li>
                            </ul>
                        </div>
                        <div class="zhihui">
                            <h3><a href="zhihui.html">智慧城市解决方案</a></h3>

                            <h4>基础设施解决方案</h4>
                            <ul>
                                <li><a href="zhineng.html">智能建筑</a></li>
                                <li><a href="shuju.html">基础中心</a></li>
                            </ul>
                        </div>
                    </div>
                </a></li>
                <li class="second"><a href="#">软件产品
                    <div class="rjcp">
                        <h3><a href="../templates1/hangye.html">行业应用类</a></h3>
                        <h3><a href="../templates1/guanli.html">管理软件类</a></h3>
                        <h3><a href="../templates1/pingtai.html">平台工具类</a></h3>
                        <h3><a href="../templates1/xinxi.html">信息安全类</a></h3>
                        <h3><a href="../templates1/jichu.html">基础设施类</a></h3>
                    </div>
                </a></li>
                <li class="third"><a href="#">专业服务
                    <div class="zyfw">
                        <h3>咨询服务</h3>
                        <h3>信息安全服务</h3>
                        <h3>运营运维服务</h3>
                        <h3>增值服务</h3>
                    </div>
                </a></li>
                <li class="fourth"><a href="#">案例中心
                    <div class="alzx">
                        <h4>按行业</h4>
                        <ul class="list1">
                            <li><a href="#">政府</a></li>
                            <li><a href="#">电力</a></li>
                            <li><a href="#">金融</a></li>
                            <li><a href="#">制造</a></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                        <ul class="list2">
                            <li><a href="jiaotong.html">交通</a></li>
                            <li><a href="shihua.html">石化</a></li>
                            <li><a href="#">煤炭</a></li>
                            <li><a href="#">公共安全</a></li>
                        </ul>
                    </div>
                </a></li>
                <li class="fifth"><a href="#">关于太极
                    <div class="gytj">
                        <h3>公司概况</h3>
                        <h3>愿景使命</h3>
                        <h3>公司资质</h3>
                        <h3>公司荣誉</h3>
                        <h3>企业文化</h3>
                        <h3>合作伙伴</h3>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="content-img">
            <img src="../../images/solution_banner_title.png" alt="">
            <div class="bg">
                <div class="img-botton">
                    <a href="javascript:" class="hyyy addhyyy"><span >行业应用解决方案</span></a>
                    <ul class="nav">
                        <li><a href="zhengfu.html"  class="subcurrent"><img src="../../images/solution_icon_menu_gov.png" />政府</a></li>
                        <li class="bg1"><a href="dianli.html"><img src="../../images/solution_icon_menu_elect.png" />电力</a></li>
                        <li><a href="jinrong.html"><img src="../../images/solution_icon_menu_finance.png" />金融</a></li>
                        <li><a href="zhizao.html"><img src="../../images/solution_icon_menu_manu.png" />制造</a></li>
                        <li><a href="jiaotong.html"><img src="../../images/solution_icon_menu_traffic.png" />交通</a></li>
                        <li><a href="shihua.html"><img src="../../images/solution_icon_menu_oil.png" />石化</a></li>
                        <li><a href="meitan.html"><img src="../../images/solution_icon_menu_coal.png" />煤炭</a></li>
                        <li><a href="anquan.html"><img src="../../images/publicsafe_icon_menu_other.png" />公共安全</a></li>
                        <li class="lastline"><a href="qita.html"><img src="../../images/solution_icon_menu_other.png" />其他</a></li>
                    </ul>
                    <a href="zhihui.html"><span class="zhcs">智慧城市解决方案</span></a>
                    <a href="javascript:"><span class="jcss">基础设施解决方案</span></a>
                    <ul class="nav1">
                        <li><a href="zhineng.html"><img src="../../images/solution_icon_menu_dot.png" />智能建筑</a></li>
                        <li><a href="shuju.html"><img src="../../images/solution_icon_menu_dot.png" />数据中心</a></li>
                    </ul>
                </div>
            </div>
            <div class="lxwm"><img src="../../images/solution_pic_contact.png" alt=""></div>
        </div>
        <div class="list">
            <ul>
                <li><a href="../index.html">首页&nbsp;></a></li>
                <li>解决方案&nbsp;></li>
                <li>基础解决方案&nbsp;></li>
                <li><a href="zhengfu.html">政府</a></li>
            </ul>
            <p>政府</p>
            <div class="xiangqing">
                <a href="#">太极基于 Office 365 的政府协同办公及非密公文流转解决方案</a>
                <a href="#" class="xiangqing-img">详情</a>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">固定资产投资项目管理系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 通过项目审批、项目核准、项目备案、资金安排等业务电子化，在规范化和标准化投资管理部门工作流程的同时，将固定资产项目投资信息收集整理形成项目信息库，利用决策支持、综合报表等功能进行项目信息分析、投资合理性预警及投资趋势分析，从而...</p>
                </div>
            </div>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">价格监管信息系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 该系统可以为政府及时调控市场价格提供高效的管理手段和决策支持信息。系统可完成数据采集，包括价格监测、成本调查；也可以完成业务审批及数据分析，包括价格管理、成本监审。通过权限控制，可为不同用户提供个性化信息服务。系统包含重要商品...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">固定资产投资项目管理系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 通过项目审批、项目核准、项目备案、资金安排等业务电子化，在规范化和标准化投资管理部门工作流程的同时，将固定资产项目投资信息收集整理形成项目信息库，利用决策支持、综合报表等功能进行项目信息分析、投资合理性预警及投资趋势分析，从而...</p>
                </div>
            </div>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">城市社会管理创新信息平台解决方案</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 从“管理型”政府向“服务型”政府转变，加大力度实施社会管理创新，提升社会管理服务水平是现今政府面临的重要课题。太极社会管理服务信息平台解决方案围绕“人、地、物、情、事...</p>
                </div>
            </div>
            <div class="has-bg">
                 <div class="xiangqing1">
                <a href="#">综合卫生管理信息平台</a>
                <a href="#" class="xiangqing-img">详情</a>
                <p> 管理型”政府向“服务型”政府转变，加大力度实施社会管理创新，提升社会管理服务水平是现今政府面临的重要课题。太极社会管理服务信息平台解决方案围绕“人、地、物、情、事...</p>
                 </div>
              </div>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">区域卫生信息平台</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>区域卫生信息平台，是连接区域内的医疗卫生机构基本业务信息系统的数据交换和共享平台，是不同系统间进行信息整合的基础和载体。
                        以SOA体系架构...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">区域医疗质量监管平台</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>  通过区域医疗质量监管平台，提升卫生行政部门对医疗服务行业的监管能力，为卫生行政部门提供一种有力的监管手段，对医疗机构的规模、大型仪器的购置、医疗新技术的采用等方面开展行之有效的监督管理。通过区域医疗质量监管，加强医疗行为日常监...</p>
                </div>
            </div>
            <div class="no-bg">
                <div class="xiangqing2">
                    <a href="#">政府公众服务平台系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p>随着IT技术的飞速发展以及在公共管理中的应用，政府各职能部门以及各机关单位之间的工作有了电子化、网络化和集中化的新要求，互联网政府公众服务平台系统作为全球信息化进程中的新兴产物应运而生，已经在政府的运营模式方面产生了革命性的影...</p>
                </div>
            </div>
            <div class="has-bg">
                <div class="xiangqing1">
                    <a href="#">行政事业单位固定资产管理系统</a>
                    <a href="#" class="xiangqing-img">详情</a>
                    <p> 太极行政事业单位固定资产管理系统遵循资产管理业务的处理流程，采用面向对象的设计思想，并力争最大限度使其客户化，以适应用户业务变化的需要。它不仅实现了资产管理的计算机化，还规范了资产管理业务，提高了工作效率，实现了设备信息资源的...</p>
                </div>
            </div>
        </div>
        <div>
            <ul></ul>
        </div>
    </div>
    <div id="footer">
        <div class="footer-nav">
            <ul>
                <li>关于太极</li>
                <li><a href="#">公司概况</a></li>
                <li><a href="#">愿景使命</a></li>
                <li><a href="#">公司资质</a></li>
                <li><a href="#">公司荣誉</a></li>
                <li><a href="#">企业文化</a></li>
            </ul>
            <ul>
                <li>业务专题</li>
                <li><a href="#">智慧城市</a></li>
                <li><a href="#">公共安全</a></li>
                <li><a href="#">智能楼宇</a></li>
                <li><a href="#">数据中心</a></li>
                <li><a href="#">信息安全</a></li>
            </ul>
            <ul>
                <li>新闻中心</li>
                <li><a href="#">公司新闻</a></li>
                <li><a href="#">媒体报告</a></li>
            </ul>
            <ul>
                <li>投资者关系</li>
                <li><a href="#">临时公告</a></li>
                <li><a href="#">定期报告</a></li>
            </ul>
            <ul>
                <li>招聘信息</li>
                <li><a href="#">校园招聘</a></li>
                <li><a href="#">社会招聘</a></li>
            </ul>
            <div>
                <div class="yqlj">友情链接</div>
                <div class="china">
                    <ul class="china-list">
                        <li><a href="#">中国电子科技集团公司</a></li>
                        <li><a href="#">华北计算技术研究所</a></li>
                        <li><a href="#">慧点科技股份有限公司</a></li>
                        <li><a href="#">人大金仓股份有限公司</a></li>
                        <li><a href="#">中国电子科技集团公司</a></li>
                    </ul>
                    <a href="javascript:" class ="up"></a>
                    <a href="javascript:" class ="down"></a>
                </div>
            </div>
        </div>
        <div class="footer-botton">
            <div class="botton-left">
                <p>
                    <span>北京市海淀区北四环中路211号</span>
                    <span>TEL 010-89056888</span>
                    <span>FAX 010-89056889</span>
                    <span>E-Mail taiji@mail.taiji.com.cn</span>
                </p>
                <p> &copy;2013 太极计算机股份有限公司版权所有 京ICP备14026821号-1 京公网安备11010802015957</p>
            </div>
            <div class="botton-right"><a href="#"><img src="../../images/logo_footer.png" alt=""></a></div>
        </div>
    </div>
</div>
</body>
</html>
